body{
    margin:0;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}

#can{
    background-color: lightgray;
    padding: 0;
    position: absolute;
    touch-action: none;
    top:0;
    left:50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

header{
    text-align: left;
    margin-left:10px;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    font-variation-settings:
    "EDPT" 200,
    "EHLT" 24;
}
.scores{
    margin-top:-80px;
    margin-left:150px;
    overflow: hidden;
    height: 80px;
    list-style-type: none;
}
#score2{
    margin-top: 50px;
    
}
.roll{
    animation: roll;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
.roll2{
    animation: roll2;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
@keyframes roll{
    0%{margin-top: 0px;}
    100%{
        margin-top:-80px;
    }
}
@keyframes roll2{
    0%{
        margin-top: 50px;
    }
    100%{
        margin-top:0px;
    }
}